body{
	background-color: #a4deec;
}

#all-pets{
	background-color: #a4deec;
	text-align: center;
}

.individual-pet{
	border-style: solid;
	border-width: 1px;

}

img{
	width: 80px;
	height: 100px;
}

p{
	color: black;
}

p{
	font-size: 20px;
	font-family: "comic sans MS"
}

h1{
	font-size: 40px;
	font-family: "comic sans MS"
}